.env
/Users/bibop/Library/CloudStorage/GoogleDrive-mrbibop@gmail.com/Il mio Drive/AI_Dev/HyperLab/node_modules
Debug/
/Users/bibop/Library/CloudStorage/GoogleDrive-mrbibop@gmail.com/Il mio Drive/AI_Dev/HyperLab/hyperlab-backend/node_modules
/Users/bibop/Library/CloudStorage/GoogleDrive-mrbibop@gmail.com/Il mio Drive/AI_Dev/HyperLab/node_modules